name: PR

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'lib/**'
      - 'test/**'
      - '.formatter.exs'
      - 'mix.exs'
      - 'mix.lock'
  workflow_dispatch:

env:
  MIX_ENV: test

jobs:
  test:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{matrix.version.elixir}}-${{matrix.version.otp}}
      cancel-in-progress: true
    strategy:
      matrix:
        version:
          - { elixir: '1.17.3-otp-26', otp: '26.2.5.15' }
          - { elixir: '1.17.3-otp-27', otp: '27.3.4.1' }
          - { elixir: '1.18.4-otp-26', otp: '26.2.5.15' }
          - { elixir: '1.18.4-otp-27', otp: '27.3.4.3' }
          - { elixir: '1.18.4-otp-28', otp: '28.1.1' }
          - { elixir: '1.19.1-otp-26', otp: '28.1.1' }
          - { elixir: '1.19.1-otp-27', otp: '28.1.1' }
          - { elixir: '1.19.1-otp-28', otp: '28.1.1' }
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Elixir
        uses: erlef/setup-elixir@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
        with:
          elixir-version: ${{matrix.version.elixir}}
          otp-version: ${{matrix.version.otp}}
      - name: Dependencies cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('mix.lock') }}-${{matrix.version.elixir}}-${{matrix.version.otp}}
          restore-keys: |
            ${{ runner.os }}-mix-
      - name: Install dependencies
        run: mix deps.get
      - name: Compile dependencies
        run: mix deps.compile
      - name: Build cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: _build
          key: ${{ runner.os }}-build-${{ hashFiles('mix.lock') }}-${{matrix.version.elixir}}-${{matrix.version.otp}}
          restore-keys: |
            ${{ runner.os }}-build-
      - name: Compile project
        run: mix compile --no-deps-check --return-errors --warnings-as-errors
      - name: Code style
        run: mix format --check-formatted
        continue-on-error: true
      - name: Dialyzer
        run: mix dialyzer
      - name: Tests
        run: mix test --trace
